{% extends "website/base.html" %} {% block main %} {% load staticfiles%}
<img src="{% static 'images/thinindexheader.png' %}" />
<div class="col-md-1">
</div>
<div class="col-md-10 animated fadeIn">
    <h1 style="font-family:'Lato',serif ;font-size:40px" id="Associates"> &nbsp;Our Associates: </h1>
</div>
<div>
    <br />
</div>
<div class="panel panel-default">
    <div class='row animated fadeInLeft'>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/cie-logo.png' %}" />
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/t-hub-logo.png' %}" />
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/iiit-logo.png' %}" />
        </div>
    </div>
</div>

<div class="col-md-1">
</div>
<div class="col-md-10 animated fadeIn">
    <h1 style="font-family:'Lato',serif ;font-size:40px" id="Partners"> &nbsp;Our Partners: </h1>
</div>

<div class="panel panel-default">
    <div class='row animated fadeInLeft'>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/ecell-iitb.png' %}" height="200" width="300" />
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/ecell-iiitd.png' %}" height="200" width="400" />
        </div>
    </div>
</div>
<div class="col-md-1">
</div>
<!--<div class="col-md-10 animated fadeIn">
    <h1 style="font-family:'Lato',serif ;font-size:40px" id="Sponsors"> &nbsp;Our Sponsors: </h1>
</div>-->
<!--
<div class="panel panel-default">
    <div class='row animated fadeInLeft'>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/ecell-iitb.png' %}" height="200" width="300" />
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/associates/ecell-iiitd.png' %}" height="200" width="400" />
        </div>
    </div>
</div>-->

{% endblock %}