{% extends "website/base.html" %} {% block styles %}{% load staticfiles %}

<style>
#map {
        height: 400px;
        width: 100%;
    }
    
    #map {
        pointer-events: none;
    }
    
    .fbButton {
        background-color: #3b5998;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
</style>
{% endblock %} {% block links %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCovObde1X51NE7fNo7fY66TXdckPdG1ik&callback=initMap" type="text/javascript"></script>
<script>
    function initMap() {
        var uluru = {
            lat: 17.445204,
            lng: 78.347994
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
{% endblock %} {% block main %}
<img src="{% static 'images/sample4.png' %}" />
<div class="col-md-12 animated fadeIn">
    <!--text-align:center;-->
    <h1 style=" font-family:'Lato',serif; font-size:50px"> &nbsp;&nbsp;Contact Us </h1>
</div>
<div>
    <br />
</div>
<div class="panel panel-default">
    <div class='row animated fadeIn'>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/dhriti.jpg' %}" />
        </div>
        <div class="col-md-3">
            <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/parin.jpg' %}" />
        </div>
        <div class="col-md-3">
            <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/deepanshu.jpg' %}" />
        </div>
        <!--<div class="col-md-1">
            <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i> <br />
        </div>-->
        <!--<div class="col-md-5">
            <hr size=5>
            <p style="font-family:'Lato',serif; font-size:30px"> Dhriti Goyal - Partnerships and Ventures</p>
            <p style="font-family: 'Open Sans', sans-serif;font-size:17px">
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 1234567890
                <br /><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; dhriti.goyal@sample.com
            </p>
            <hr size=5>
    <!--<div class="row">-->
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Dhriti Goyal</p>
        </div>
        <div class="col-md-3">
            <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Parin Vachhani</p>
        </div>
        <div class="col-md-3">
            <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Deepanshu Jain</p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Parterships and Ventures</p>
        </div>
        <div class="col-md-3">
            <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Corporate Relations and Alumni</p>
        </div>
        <div class="col-md-3">
            <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Events and Management</p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 1234567890</p>
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 1234567890</p>
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 1234567890</p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; dhriti.goyal@sample.com
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; dhriti.goyal@sample.com
        </div>
        <div class="col-md-3">
            <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; dhriti.goyal@sample.com
        </div>
    </div>
    <br />
    <hr size=5 />
    <p style="text-align:center; font-family: 'Open Sans', sans-serif;font-size:17px"> Mail us at <a href="mailto:ecell@iiit.ac.in">ecell@iiit.ac.in </a> or checkout our <a href=""> facebook page</a> for more information.</p>

    <hr size=5 />
</div>

<div class="card-content" id="map">
</div>
{% endblock %}