{% extends "website/base.html" %} {% load static %} 
{% load staticfiles %}
{% block main %}
<div class="container">
    <div class="row animated fadeIn">
        <h1 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;">Core Team </h1>
    </div>
    <div class="row">
        {% for instance in person %}
        <div class="col s12 m3">
            <div class="card hoverable animated bounceInRight center">
                <div class="card-content blue lighten-1">
                    <img class="circle" height="100" width="100" src="{% static 'images/Core Team/' %}{{ instance.firstName }}.jpg"><br>
                    <span class="card-title flow-text">{{ instance.firstName }} {{ instance.lastName }}</span>
                    <p>{{ instance.position }}</p>
                    <p>{{instance.phoneNo}}</p>
                </div>
                <div class="card-action blue darken-4 ">
                    <a href="mailto:{{ instance.email }}" class="waves-effect yellow-text text-darken-2 left "><i class="fa fa-envelope"></i></a>
                    <a href="{{ instance.fb }}" class="waves-effect yellow-text text-darken-2 center"><i class="fa fa-facebook"></i></a>
                    <a href="{{ instance.linkedin }}" class="waves-effect yellow-text text-darken-2 right"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--Memebers' Section, to be added once teams are finalised.-->
    <div class="row">
        <h3 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;"> Members </h3>
    </div>

    <div class="row" style="margin-left: 30px; ">
        <div class="col s12">
            <table class="striped responsive-table ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th colspan="2 ">Social Media</th>
                        <th>Work Position</th>
                    </tr>
                </thead>
                <tbody style="text-align: center; ">
                    {% for p in person %}
                    <tr>
                        <td>{{ p.firstName }} {{ p.lastName }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.phoneNo }}</td>
                        <td><a href="{{ p.fb }} " target="_blank "><i class="fa fa-facebook "></i></td>
                        <td><a href="{{ p.linkedin }} " target="_blank "><i class="fa fa-linkedin "></i></td>
                        <td>{{ p.position }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}